/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.tp{
    color: #FD6E0A;
}
.btnp{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 85px 298px;
}
.nv{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;  
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}
/* header related style */
.hee{
    background: var(--White-Color, #FFF);;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
       
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.img{
    width: 584px;
    /* height: 676px; */
}
/* .banner{
    padding: -34px -72px 3453px -72;
} */
.h3{
    font-size: 45px;
    color: var(--Dark-02, #474747);
    margin-bottom: 5px;
}
.h1{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 700;
    Mary Hardy
    color: var(--Dark-01, #181818);
}
.p{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 49px;
    
}
/* main related style */
main{
    max-width: 1140;
    margin: 0 a;
}
.section{
    margin: 130px;
    padding: 130px;
     border-radius: 10px;
     background: #f3ede9;
}
.about{
    color: #181818;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.para{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

    color:  #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}
.about-info{
    align-items: center;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
